/* Body */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2 {
  color: white;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.title {
  font-size: 72px;
  line-height: 74px;
  font-weight: 700;
  margin: 0;
}

.title,
.subtitle {
  margin: 0;
}

.subtitle {
  color: #ccc;
}

/* Breakpoint pour les écrans petits (mobiles) */
@media (max-width: 480px) {
  .title,
  .hero-title {
    font-size: 28px; /* Taille du titre réduite pour les petits écrans */
    line-height: 32px; /* Ajuste la hauteur de ligne pour éviter que le texte se chevauche */
  }
}

/* Breakpoint pour les écrans moyens (tablettes) */
@media (max-width: 768px) {
  .title,
  .hero-title {
    font-size: 48px; /* Taille du titre réduite pour les tablettes */
    line-height: 50px; /* Ajuste la hauteur de ligne */
  }
}

/* Breakpoint pour les écrans larges (petits ordinateurs portables) */
@media (max-width: 1024px) {
  .title,
  .hero-title {
    font-size: 60px; /* Taille du titre ajustée pour les écrans moyens */
    line-height: 64px; /* Ajuste la hauteur de ligne */
  }
}

/* Breakpoint pour les écrans très larges (bureau) */
@media (min-width: 1200px) {
  .title,
  .hero-title {
    font-size: 72px; /* Taille originale pour les grands écrans */
    line-height: 74px; /* Hauteur de ligne originale */
  }
}
