.home-container {
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  display: grid;
  flex-direction: column;
  gap: 40px;
}

/* 🎮 Section des jeux */
.games-section {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  width: 100%;
  max-width: 1200px;
}

/* 🏆 En-tête "New and Trending" */
.home__discover {
  margin-bottom: 20px;
}

.games-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  justify-content: center;
}

/* ✅ Très petits écrans */
@media (max-width: 480px) {
  .games-section {
    padding: 24px 0px;
  }
}
